/*.playlist-container {
  margin: 0 auto;
  padding: 20px;
  max-w: 1200px;
   position: relative;
}
*/
.list {
    width: 100%;
  }

.playlist-header {
  margin-right: initial !important;
  width: calc(100% - 18px);
}

.playlist-header a {
  font-size: 12px;
  float: right;
  margin-top: 7px;
  margin-right: 10px;
  cursor: pointer;
}

.playlist-container {
  margin-top: 420px;
  margin-bottom: 150px;
  }

.chart {
  margin: 0 auto;
  width: 630px;
  display: block;
  position: inherit;
}

.action-icons img {
  height: 20px;
  float: right;
  clear: both;
  padding: 5px 0 5px;
}

.action-icons {
  margin: -7px 0 7px;
}

.addToPlaylistButtonDiv {
  display: inline-block;
  margin-top: 420px;
  margin-left: 100px;
}

.addToPlaylistButton {
  padding: 20px 50px;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  display: block;
  text-transform: uppercase;
  background-color: #5A66E3;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 2px;
  border: 0;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}


@media only screen and (min-width: 1000px) {

  .sort {
    height: 15px !important;
  }

  .delete {
    margin-right: 3px;
  }

  .meep {
    margin-bottom: -15px !important;
  }
}

@media only screen and (min-width: 1100px) {

  .playlist-container {
    float: right;
    width: 420px;
    margin-top: 0px;
  }
  .playlist-header {
    width: 402px;
    font-size: 24px !important;
  }
  .chart {
    margin: initial;
    top: 130px;
  }
}
