::-webkit-scrollbar {
display: none;
}

.nav {
  position: fixed !important;
}
.list {
    width: 100%;
    margin-top: 40px !important;
  }


.chart-copy {
  font-family: 'Montserrat', sans-serif;
}

.action-icons {
  float: right;
}

.addToPlaylistButton {
  font-size: 14px;
  padding-top: 6px;
  margin: 0 auto;
  text-align: right;
  text-transform: uppercase;
  background-color: #5A66E3;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 2px;
  border: 0;
  cursor: pointer;
  float: right;
}


@media only screen and (min-width: 1000px) {

  .sort {
    height: 15px !important;
  }

  .delete {
    margin-right: 3px;
  }
}

@media only screen and (min-width: 1100px) {

  .playlist-container {
    width: 420px;
    padding-top: 80px;
    background-color: #F7F9FF;
    padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  }
  .playlist-header {
    width: 400px;
    font-size: 24px !important;
    position: fixed;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background-color: #5A66E3;
    color: #FFFFFF;
    margin-top: 0;
  }

  .playlist-sort {
    width: 200px !important;
    position: fixed !important;
    z-index: 100000;
    left: 230px;
    top: 76px;
    font-family: 'Montserrat', sans-serif !important;
    color: #FFFFFF !important;
    text-align: right;
  }

  .playlist-sort div {
    color: #FFFFFF !important;
  }

  .chart {
    position: absolute;
    left: 450px;
    top: 130px;
  }

  .addToPlaylistButton {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 420px;
    text-align: center;
    height: 60px;
  }

  .addToPlaylistButton:hover {
    background-color: #454448;
    transition: all 0.3s ease;
  }
}
