.button-search {
  padding: 20px 50px;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  background-color: #5A66E3;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 2;
  border: 0;
  cursor: pointer;
  height: 60px;
}

.button-search:focus {
  outline: 0;
}

.button-search:hover {
  background-color: #454448;
  /*color: #5A66E3;*/
  transition: all 0.3s ease;
}

.search-drop-down {
  width: 15% !important;
  margin-right: 30px;
  vertical-align: top;
}

.search-field {
  background-color: #FFFFFF;
  display: inline-block;
  margin-bottom: 60px;
  padding-left: 10px;
  border: 0;
}

.table-styles {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.modal-button {
  border-radius: 0 !important;
  border-color: #5A66E3;
}

.modal-button:hover {
  background-color: #454448 !important;
}

.modal-outline:hover span {
  color: #FFFFFF !important;
}

.modal-outline:hover {
  border: 1px solid #454448 !important;
}

.modal-button span {
  font-weight: bold !important;
  letter-spacing: 1px !important;
}

@media only screen and (max-width: 600px) {
  .button-search {
    padding: 20px 30px;
  }
  .empty-state-text {
    font-size: 16px;
    padding: 0 20px;
  }
  .table-styles {
    display: block;
    overflow-x: auto;
    white-space: nowrap
  }
}
